<% include ./partials/header.ejs %>

<footer>
  <div id="play_buttons">
    <button type="button" class="btn btn-info btn-sm">deal</button>
    <button type="button" class="btn btn-info btn-sm">leave</button>
  </div>
</footer>

<% include ./partials/footer.ejs %>
