<div id=gameForkingsCup style="display: none;">

  <h1 style="background-color: green">Game of kingsCup goes here</h1>

  <div id="kingsCupRPSSelection">
    <button id=kingsCupRock>Rock</button>
    <button id=kingsCupPaper>Paper</button>
    <button id=kingsCupScissor>Scissor</button>
  </div>

  <div style="background-color: yellow;" id="kingsCupUserStatus"></div>
  <div id="kingsCupPlayField" style="background-color: yellow">
    <p>What are you gonna play?</p>
  </div>
  <div id="kingsCupAfterGameBtn" style="display: none;">
    <button id="kingsCupPlayAgainBtn">Let's play again!</button>
    <button id="kingsCupQuitGameBtn">Room dismiss!</button>
  </div>
  
 </div>
