<div id="gameForkingsCup2" style="display: none;">

    <h1 style="background-color: green">Game of kingsCup goes here</h1>

    <div id = "drawdeckarea"></div>
    

    <div class="container-fluid" style="display:flexbox">
      <div class="row list-of-players my-5 mx-5">
        <div class="col">
          <div class="card">
            <h2 class="my-0 mx-auto">p1</h2>
            <h3 class="my-0 mx-auto" style="min-height:3em; max-height:3em">
              Your Turn: <strong><span id="p1-turn">YES</span></strong>
            </h3>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2 class="my-0 mx-auto">p2</h2>
            <h3 class="my-0 mx-auto" style="min-height:3em; max-height:3em">
              Your Turn: <strong><span id="p2-turn"></span></strong>
            </h3>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2 class="my-0 mx-auto">p3</h2>
            <h3 class="my-0 mx-auto" style="min-height:3em; max-height:3em">
              Your Turn: <strong><span id="p3-turn"></span></strong>
            </h3>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2 class="my-0 mx-auto">p4</h2>
            <h3 class="my-0 mx-auto" style="min-height:3em; max-height:3em">
              Your Turn: <strong><span id="p4-turn"></span></strong>
            </h3>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h2 class="my-0 mx-auto">p4</h2>
            <h3 class="my-0 mx-auto" style="min-height:3em; max-height:3em">
              Your Turn: <strong><span id="p4-turn"></span></strong>
            </h3>
          </div>
        </div>
      </div>
      <div class="row card-shown">
        <img
          style="max-height:30vh; margin:0 auto"
          src="https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/card-deck.png?itok=RgZ_PGKP"
          src= "../../../Games/PNG/blue_back.png"
        />
      </div>
      <div class="row card-action my-5 mx-5" style="border:red solid 2px">
        <h4 class="my-0 mx-auto">DESCRIPTION</h4>
      </div>
    </div>
  </div>